* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  /* font-family: "Ubuntu", sans-serif; */
}

body,
html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  color: white;
  font-weight: 100;
  background-color: black;
}

/* .mini-circle {
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  background-color: white;
  height: 1rem;
  border-radius: 50%;
  width: 1rem;
  z-index: 9999;
  position: absolute;
} */

.main {
  background-color: black;
  width: 100%;
}

.bounding {
  overflow: hidden;
  width: fit-content;
}
.boundelm {
  transform: translateY(110%);
}

.hero {
  background-color: black;
  position: relative;
  width: 100%;
  height: 100vh;
  font-size: 1.4rem;
}

.hero nav {
  padding: 3rem 3rem;
  display: flex;
  justify-content: space-between;
}

.hero nav a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

/* ---------------about----------------- */

.about {
  margin-top: 6rem;
  margin-left: 3rem;
  font-size: 7vw;
  font-weight: 100;
  opacity: 0.6;
  /* -webkit-text-stroke: 1px #fff;
  color: transparent; */
  line-height: 9vw;
  letter-spacing: 0.4;
}
.about .down {
  margin-left: 15vw;
  width: fit-content;
  height: fit-content;
  line-height: 16vh;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.about .down h6 {
  font-size: 1.7rem;
  line-height: 5vh;
  text-align: right;
  color: white;
  opacity: 1;
  letter-spacing: 0;
}

.about-2 {
  font-size: 2rem;
  text-align: right;
  text-transform: uppercase;
  padding: 0 3rem;
  margin-top: 10rem;
  margin-bottom: 300rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.hero-footer {
  position: absolute;
  bottom: 2%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.hero-footer a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
}
.hero-footer .arrow i {
  height: fit-content;
  width: fit-content;
  background-color: #aaaaaa;
  border-radius: 50%;
  color: black;
  font-weight: 900;
  padding: 0.5rem;
  cursor: pointer;
}

/* media query hero section  */

@media (max-width: 840px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 500px) {
  .hero-footer .arrow {
    display: none;
  }
  .about .down h6 {
    font-size: 1.2rem;
  }
}

@media (max-width: 400px) {
  .hero-footer a {
    font-size: 1.4rem;
  }
  .about {
    line-height: 9rem;
    font-size: 10vw;
  }
  .about .down h6 {
    line-height: 4rem;
  }
}

/* ----------------------------my photos------------------------- */

.photos {
  width: 90%;
  height: fit-content;
  padding-top: 10rem;
  padding-left: 3vw;
}

.image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid gray;
  font-size: 6vw;
  text-transform: uppercase;
  opacity: 0.7;
  padding: 1rem 0;
}
.image h5 {
  font-size: 1.3rem;
}

.image-last {
  border-bottom: 2px solid gray;
}
.image img {
  opacity: 0;
  /* display: none; */
  position: absolute;
  z-index: 999;
  width: 25vw;
}

/* -----------------------my-self--------------------------- */

.my-self {
  width: 100%;
  display: flex;
  /* align-items: center; */
  padding: 10rem 3rem;
  padding-left: 40vw;
  padding-top: 15vw;
  gap: 5vw;
}

.my-self img {
  height: 25rem;
  width: 20rem;
  filter: saturate(60%);
  border-radius: 50%;
}

.my-self h5 {
  font-size: 1vw;
  opacity: 0.6;
  text-transform: uppercase;
}

.my-self p {
  padding: 0.5vw 0;
  width: 30vw;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.my-self a {
  color: white;
  font-size: 1.3rem;
  border: 1px solid white;
  border-radius: 3rem;
  padding: 1rem 2.5rem;
  text-decoration: none;
}

/* .my-self media query  */

@media screen and (max-width: 780px) {
  .my-self {
    padding-left: 10rem;
  }
  .my-self h5 {
    font-size: 2vw;
  }
}

@media screen and (max-width: 600px) {
  .my-self {
    padding-left: 3rem;
    flex-direction: column;
  }
  .my-self img {
    height: 30rem;
    width: 30rem;
  }
  .my-self p {
    width: 100%;
  }
  .my-self h5 {
    font-size: 3vw;
  }
}

@media screen and (max-width: 320px) {
  .my-self img {
    height: 20rem;
    width: 20rem;
  }
}

/* -----------subscibe-------------------------- */

.subscribe {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10vw 3rem;
  line-height: 2.5rem;
}

.subscribe h3 {
  font-size: 1.2rem;
  opacity: 0.6;
}
.subscribe h2 a {
  text-decoration: none;
  color: white;
}

/* ---------------footer------------------------- */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4vh 3rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.footer-right {
  font-weight: 900;
  display: flex;
  gap: 3rem;
  align-items: center;
}
.footer-right .icon p {
  font-size: 1.3rem;
}
.footer-right .icon {
  display: flex;
  justify-content: space-between;
  gap: 0.4rem;
}

.footer-right a img {
  height: 2rem;
}

/* media query footer  */

@media screen and (max-width: 700px) {
  footer {
    flex-direction: column-reverse;
  }
  .footer-left {
    width: 100%;
    padding-top: 3rem;
  }
  .footer-right {
    justify-content: start;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .footer-right {
    gap: 2rem;
    flex-direction: column;
  }
  .footer-right .icon {
    width: 100%;
    justify-content: start;
    align-items: start;
    text-align: center;
  }
}
